// ***** color variables *****

$white        : #fff;
$gray         : #999;
$background   : #162a60;
$facebook     : #004088;
$twitter      : #02abe3;
$gplus        : #f14724;
$home         : #3387ea;
$about        : #f9be3e;
$portfolio    : #d3573e;
$photos       : #59b0e2;
$testimonials : #33af95;
$hire         : #86a73f;
$blog         : #151a26;
$contact      : #7e5b8c;
$copyright    : #99a4c1;
$outline      : #1BA1E2;



// ***** resolution breakpoints *****

$desktop     : 1024px;
$desktop--sm : 996px;
$tablet      : 768px;
$mobile--lg  : 480px;
$mobile      : 320px;

